body {
	font-family: -apple-system, BlinkMacSystemFont,
	"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
	"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol";
	background: #ececec;
}


div.header-container {
	width: 100%;
	height: 90px;
	position: fixed;
	background: rgba(2, 32, 135);
}

div.header {
	width: 100%;
	z-index: 1;
	font-family: math;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


div.header-img {
	padding-top: 1em;
	padding-left: 1em;
	vertical-align: middle;
	float: left;
}

div.header-text {
	padding-top: 1.4em;
	padding-left: 6em;
	color: white;
	vertical-align: middle;

}

div.layout-menu-container {
	position: fixed;

}

div.layout-menu {
	padding-top: 5em;
	text-align: left;
	font-size: 130%;
	font-family: math;
}

div.menu-item {
	margin: 0.5em 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	border-left: 5px solid  #023679;
}

.layout-menu a:link {
	line-height: 2;
	color: #0652ab;
	text-decoration: none;
}

.layout-menu a:visited {
	line-height: 2;
	color: #023679;
	text-decoration: none;
}

.layout-menu a:hover {
	line-height: 2;
	color: white;
	background: #0652ab;
}

div.layout-content-container {
	text-align: left;
	/*display: inline-block;*/
}

div.layout-content {
	/*margin: auto;*/
	padding-top: 7em;
	padding-left: 12em;
	max-width: 1400px;
}

div.split-line {
	border: 1px solid #0652ab;
	margin-bottom: 0.6em;
}

/*-----------projects page style begin---------------*/

div.project-layout {
	padding-bottom: 1em;
}
.project-image img {
	width: 10em;
	height: 10em;
	border-radius: 5%;
	background-repeat: no-repeat;
	background-position-y: 9%;
	float: left;
}

div.project-text {
	padding-left: 11em;
	padding-top: 0.5em;
	height: 8em;
	vertical-align: middle;
}

/*-----------projects page style end---------------*/

/*-----------courses page style begin---------------*/

div.course-layout {
	padding-bottom: 1em;
}
.course-image img {
	width: 8em;
	height: 8em;
	border-radius: 5%;
	background-repeat: no-repeat;
	background-position-y: 9%;
	float: left;
}

div.course-text {
	padding-left: 10em;
	padding-top: 0.5em;
	height: 8em;
	vertical-align: middle;
}

/*-----------courses page style end---------------*/

/*-----------members page style begin---------------*/
div.members-layout, div.member {
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
}


div.members-layout img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position-y: 9%;
}

div.member-text {
	padding-left: 1em;
	padding-top: 2em;
	vertical-align: middle;
}
/*-----------members page style end---------------*/
